@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}
.pin_icone {
  margin: -42px;
  color: white;
}
.user_name {
  margin: -42px;
  color: white;
}


.videos_data {
  text-align: center;
  padding-bottom:50px;
  order: 2;
}
#video-grid {
  display: flex;
  /* justify-content: center; */
  height: 100%;
  width: 100%;
  /* align-items: center; */
  flex-wrap: wrap;
  overflow-y: auto;
}
video {
  display: block;
  flex: 1;
  object-fit: cover;
  border: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 600px;
  color: #d2d2d2;
}
.main {
  height: 100%;
  display: flex;
}
.main__left {
  flex: 0.8;
  display: flex;
  flex-direction: column;
}
.main__right {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3d3d42;
}
.main__videos {
  flex-grow: 1;
  background-color: #000;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.main__controls {
  display: flex;
  background-color: #1c1e20;
  color: #d2d2d2;
  padding: 5px;
  /*justify-content: space-between;*/
}
.main__controls_block {
  display: flex;
}
.main__controls_button {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  margin: 5px;
}
.main__controls_button span {
  margin-top: 10px;
  display: block;
}
.main__controls_button:hover {
  background-color: #34383b;
}
.main__controls_button i {
  font-size: 25px;
}
.leaveMeeting {
  background-color: red;
  color: #fff;
}
.main__header {
  color: #f5f5f5;
  text-align: center;
  padding: 20px;
  border-bottom: 2px solid #3d3d42;
}
.main__chat__window {
  flex-grow: 1;
  overflow: auto;
  padding: 20px 20px 0 20px;
}
.main__message_container {
  padding: 22px 11px;
  display: flex;
}
.main__message_container input {
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: #f5f5f5;
  user-select: none;
  outline: none;
}

#all_messages li {
  color: #fff;
  list-style: none;
  border-bottom: 1px solid #3d3d42;
  padding: 10px 0;
}
.unmute {
  color: red;
}


.main-video {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
}

video{
  height: 130px;
}

.videos_data > video{
  width: 100%;
  border-radius: 10px;
}






/* ======================== */
.main__videos {
  display: flex;
  height: 100%;
  gap: 10px;
}

.screen-share-active {
  display: flex;
  width: 100%;
}

.screen-share-container {
  flex: 4;
  /* 80% width */
  background: black;
  border-radius: 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-videos {
  flex: 1;
  /* 20% width */
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  overflow-y: auto;
}

/* .videos_data {
  position: absolute;
  right: 27%;
} */

.screen-share{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  order: 1;
  display: flex;
  justify-content: center;
}
.screen-share > video{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    
  }

    .screen-share > .user_name{
      display: none;
    }


   /* .user_name{
      position: absolute;
      right: 10px;
      bottom: 0;
      transform: translate(-100%, -200%);
    }

    .videos_data{
      position: relative;
    } */



  .overlay {
  position: absolute;
  top: 30px;
  /* left: 0; */
  width: 172.656px;
  height: 130px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 01); /* Semi-transparent black */
  pointer-events: none; /* Ensures clicks pass through */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

